.estilosNombreAdmin{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-size: 90%;
    background-image: #fcd700;
    font-weight: bold;
}

.estilosTitulosAdmin{
    font-size: 95%;
}

.edicionUsuario{
    font-size: 15px;
    color: rgb(191, 194, 11);
}

.Titulos{
    border: solid;
    border-radius: 5px;
    background-color: #fcd700;
}

.TextoNombre{
    text-align: center;
    border: solid;
    background-color: bisque;

}

.Texto{
    text-align: center;
    border: solid; 
    background-color: bisque;
}

.TextoDos{
    text-align: justify;
    border: solid; 
    background-color: bisque;
}

.centrarTabla{
    align-content:space-between;
    margin: 40px 30px 40px 81px;
    justify-content: center;

}

.estilosTabla{
    width: 163%;
    box-shadow: 10px 5px 20px rgb(167, 71, 71);
    margin-left: auto;
    margin-right: auto;
}